.container-mediap {
  display: grid;
  grid-template-columns: repeat(4, minmax(2rem, 1fr));
  width: 100%;
  max-height: var(--footer);
  grid-template-areas: "card media media options";
}

.card-artist {
  grid-area: card;
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
  max-height: calc(var(--footer) - 2rem);
}

.card-artist div {
  height: 100%;
  width: 100%;
}

.image img {
  max-width: 100%;
  height: 100%;
  border-radius: var(--border-radius-2);
}

.card-icon {
  font-size: var(--font-size-icon);
  display: flex;
  justify-content: start;
  align-items: center;
}

.card-icon i {
  bottom: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.info > label {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8rem;
}

.media {
  grid-area: media;
  display: flex;
  flex-direction: column;
}

.media-buttons {
  display: flex;
  gap: 1rem;
  align-self: center;
}

button {
  box-shadow: none;
  border: none;
  cursor: pointer;
}

button i {
  transition: all var(--animation-1) ease-out;
}

button:hover > i {
  color: var(--bhaze-600);
}

.media-buttons button i {
  font-size: var(--font-size-icon2);
}
.media-timiline {
  position: relative;
  width: 100%;
}

.media-timiline input {
  width: 100%;
  height: 100%;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  color: aliceblue;
}

.timiline-start {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
}

.timiline-end {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(100%);
}
