img {
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-2);
  transition: all var(--animation-2) ease-out;
}

.card-image {
  width: 100%;
  text-align: center;
  position: relative;
}

.card-big {
  background-color: var(--b800);
  height: 100%;
  border-radius: var(--border-radius-2);
  transition: background-color var(--animation-2) ease-out;
  box-shadow: var(--shadow-1);
  display: flex;
  flex-direction: column;
}

.card-big:hover .card-info {
  background-color: var(--b100);
  color: var(--b900);
}

.card-big:hover .card-play {
  opacity: 1;
}

.card-image:hover img {
  filter: blur(3px);
}

.card-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 0.2rem;
  border-radius: var(--border-radius-1);
  transition: all var(--animation-2) ease-out;
}

.card-info label {
  font-size: 0.9rem;
}

.card-play {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.card-play button i {
  font-size: var(--font-size-5);
  color: var(--b800);
  transition: color var(--animation-2) ease-out;
}

.card-play button i:hover {
  color: #2dff88;
}

.btn-play {
  border: 0;
  padding: 0;
  margin: 0;
  height: 5rem;
  width: 5rem;
  background-color: none;
  cursor: pointer;
  border-radius: 50%;
}

.btn-play i {
  width: 100%;
  height: 100%;
  font-size: 3rem;
}

/* Small size */
.card-small {
  display: flex;
  gap: 0.5rem;
  height: 5rem;
  width: 100%;
  background-color: var(--b800);
  align-items: center;
  border-radius: var(--border-radius-2);
  transition: all var(--animation-2) ease-out;
  box-shadow: var(--shadow-1);
}

.card-image-small {
  position: relative;
}

.card-image-small img {
  width: 5rem;
}

.card-play-small {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-small div:nth-child(n + 2) {
  flex-grow: 1;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-2);
  transition: all var(--animation-2) ease-out;
}

.card-small:hover .card-info-small {
  background-color: var(--b100);
  color: var(--b900);
}

.card-small:hover .card-play-small {
  color: var(--b700);
  font-size: var(--font-size-4);
  opacity: 1;
}

.card-image-small:hover .card-play-small button {
  color: #2dff88;
}

.play {
  border: 0;
  width: 100%;
  padding: 0;
}

.btn-play {
  height: 3rem;
  width: 3rem;
}

.btn-play i {
  font-size: var(--font-size-4);
  transition: all var(--animation-2) ease-out;
}

@media (min-width: 480px) {
  .card-info label {
    font-size: 0.9rem;
  }
}
