.container {
  min-height: calc(100vh - var(--footer));
  min-width: 100vw;
  position: fixed;
  display: flex;
}

.sidebar {
  width: 15rem;
  background-color: var(--b900);
}

.body {
  padding: 2rem;
}

.footer {
  position: absolute;
  bottom: 0;
  min-width: 100vw;
  height: var(--footer);
  border-top: 1px solid var(--b100);
  box-shadow: var(--shadow-1);
  padding: var(--padding1);
}

@media (prefers-color-scheme: dark) {
  .sidebar {
    border-right: 1px solid var(--b100);
    box-shadow: var(--shadow-1);
  }
}
